<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss}] %5p %c{2}: %m%n" />
		</layout>
	</appender>

<!-- real server -->
<!-- <param name="File" value="/data1/7tomcat/logs/log4jLog/daily.log" /> -->
<!-- demo server -->
<!-- <param name="File" value="D:/paycastlog/DemoServer/daily.log" /> -->
<!-- <param name="File" value="D:/paycastlog/DevServer/daily.log" /> -->
	<appender name="dailyRollingFile" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="D:/paycastlog/daily.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<param name="encoding" value="UTF-8" />
		<param name="Append" value="true"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss.sss}] %5p %c{2}: %m%n"/>
		</layout>
	</appender>

<!-- real server -->
<!-- <param name="File" value="/data1/7tomcat/logs/log4jLog/logfile.log" /> -->
<!-- demo server -->
<!-- <param name="File" value="D:/paycastlog/DemoServer/logfile.log" /> -->
<!-- <param name="File" value="D:/paycastlog/DevServer/logfile.log" /> -->
	<appender name="fileRollingFile" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="D:/paycastlog/logfile.log" />
		<param name="encoding" value="UTF-8" />
		<param name="Append" value="false" />
		<param name="maxFileSize" value="50MB" />
		<param name="maxBackupIndex" value="5" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss.sss}] %5p %c{2}: %m%n"/>
		</layout>
	</appender>

	<!-- Application Loggers -->
	<logger name="kr.co.signcast">
		<level value="info" />
	</logger>

	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core">
		<level value="info" />
	</logger>

	<logger name="org.springframework.beans">
		<level value="info" />
	</logger>

	<logger name="org.springframework.context">
		<level value="info" />
	</logger>

	<logger name="org.springframework.web">
		<level value="info" />
	</logger>

	<!-- Root Logger -->
	<root>
		<level value="info" />
		<appender-ref ref="console" />
		<appender-ref ref="dailyRollingFile" />
		<appender-ref ref="fileRollingFile" />
	</root>

</log4j:configuration>
